@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.Account.Settings
@using Volo.Abp.Settings
@model AntDesign.Abp.Template.Pages.Account.CustomLoginModel
@inject IHtmlLocalizer<AccountResource> L
@inject Volo.Abp.Settings.ISettingProvider SettingProvider
<div class="main__b__0">
@if (Model.EnableLocalLogin)
{
    <div class="login">
        <form method="post" class="ant-form ant-form-horizontal">
            <input asp-for="ReturnUrl" />
            <input asp-for="ReturnUrlHash" />
            <div class="ant-tabs ant-tabs-top ant-tabs-line">
                <div role="tablist" class="ant-tabs-nav">
                    <div class="ant-tabs-nav-wrap ">
                        <div class="ant-tabs-nav-list">
                            <div class=" ant-tabs-tab ant-tabs-tab-active ant-tabs-tab-with-remove">
                                <div role="tab" class="ant-tabs-tab-btn">
                                    账户密码登录
                                </div>
                            </div>
                            <div class=" ant-tabs-tab ant-tabs-tab-with-remove">
                                <div class="ant-tabs-tab-btn">
                                    手机号登录
                                </div>
                            </div>
                            <div class="ant-tabs-ink-bar ant-tabs-ink-bar-animated" style="left: 0px; width: 84px"></div>
                        </div>
                    </div>

                    <div class="" style="display: inline-block; width: fit-content;">
                        <div class="ant-tabs-nav-operations ant-tabs-nav-operations-hidden">
                            <button tabindex="-1" class="ant-tabs-nav-more" aria-expanded="false"
                                    aria-haspopup="listbox" aria-hidden="true" aria-controls="rc-tabs-0-more-popup"
                                    type="button" style="visibility: hidden; order: 1;">
                                <span role="img" class=" anticon anticon-ellipsis">
                                    <svg focusable="false" width="1em" height="1em" fill="currentColor"
                                         xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 1024 1024">
                                        <path d="M176 511a56 56 0 1 0 112 0 56 56 0 1 0-112 0zm280 0a56 56 0 1 0 112 0 56 56 0 1 0-112 0zm280 0a56 56 0 1 0 112 0 56 56 0 1 0-112 0z">
                                        </path>
                                    </svg>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="ant-tabs-content-holder ">
                    <div class="ant-tabs-content ant-tabs-content-top">
                        <div tabindex="-1" class="ant-tabs-tabpane ant-tabs-tabpane-active" aria-hidden="false"
                             aria-labelledby="rc-tabs-ant-blazor-196875de-2dd2-4e59-acae-a81fcb032ec3-panel-1">
                            <div class="ant-form-item ant-row">
                                <div class="ant-form-item-control ant-col">
                                    <div class="ant-form-item-control-input">
                                        <div class="ant-form-item-control-input-content">
                                            <span class="ant-input-affix-wrapper ant-input-affix-wrapper-lg">
                                                <span class="ant-input-prefix">
                                                    <span role="img" class=" anticon anticon-user">
                                                        <svg focusable="false" width="1em" height="1em"
                                                             fill="currentColor"
                                                             xmlns="http://www.w3.org/2000/svg" class="icon"
                                                             viewBox="0 0 1024 1024">
                                                            <path d="M858.5 763.6a374 374 0 0 0-80.6-119.5 375.63 375.63 0 0 0-119.5-80.6c-.4-.2-.8-.3-1.2-.5C719.5 518 760 444.7 760 362c0-137-111-248-248-248S264 225 264 362c0 82.7 40.5 156 102.8 201.1-.4.2-.8.3-1.2.5-44.8 18.9-85 46-119.5 80.6a375.63 375.63 0 0 0-80.6 119.5A371.7 371.7 0 0 0 136 901.8a8 8 0 0 0 8 8.2h60c4.4 0 7.9-3.5 8-7.8 2-77.2 33-149.5 87.8-204.3 56.7-56.7 132-87.9 212.2-87.9s155.5 31.2 212.2 87.9C779 752.7 810 825 812 902.2c.1 4.4 3.6 7.8 8 7.8h60a8 8 0 0 0 8-8.2c-1-47.8-10.9-94.3-29.5-138.2zM512 534c-45.9 0-89.1-17.9-121.6-50.4S340 407.9 340 362c0-45.9 17.9-89.1 50.4-121.6S466.1 190 512 190s89.1 17.9 121.6 50.4S684 316.1 684 362c0 45.9-17.9 89.1-50.4 121.6S557.9 534 512 534z">
                                                            </path>
                                                        </svg>
                                                    </span>
                                                </span>
                                                <input class="ant-input ant-input-lg" type="text" asp-for="LoginInput.UserNameOrEmailAddress"
                                                       placeholder="用户名: admin">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ant-form-item ant-row">
                                <div class="ant-form-item-control ant-col">
                                    <div class="ant-form-item-control-input">
                                        <div class="ant-form-item-control-input-content">
                                            <span class="ant-input-affix-wrapper ant-input-affix-wrapper-lg">
                                                <span class="ant-input-prefix">
                                                    <span role="img" class=" anticon anticon-lock">
                                                        <svg focusable="false" width="1em" height="1em"
                                                             fill="currentColor"
                                                             xmlns="http://www.w3.org/2000/svg" class="icon"
                                                             viewBox="0 0 1024 1024">
                                                            <path d="M832 464h-68V240c0-70.7-57.3-128-128-128H388c-70.7 0-128 57.3-128 128v224h-68c-17.7 0-32 14.3-32 32v384c0 17.7 14.3 32 32 32h640c17.7 0 32-14.3 32-32V496c0-17.7-14.3-32-32-32zM332 240c0-30.9 25.1-56 56-56h248c30.9 0 56 25.1 56 56v224H332V240zm460 600H232V536h560v304zM484 701v53c0 4.4 3.6 8 8 8h40c4.4 0 8-3.6 8-8v-53a48.01 48.01 0 1 0-56 0z">
                                                            </path>
                                                        </svg>
                                                    </span>
                                                </span>
                                                <input class="ant-input ant-input-lg" type="password" asp-for="LoginInput.Password"
                                                       placeholder="密码: 1q2w3E*">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <label class="ant-checkbox ant-checkbox-wrapper">
                    <span class="ant-checkbox">
                        <input type="checkbox" class="ant-checkbox-input" asp-for="LoginInput.RememberMe">
                        <span class="ant-checkbox-inner"></span>
                    </span>
                    <span>自动登录</span>
                </label>
                <a style="float: right;">
                    忘记密码
                </a>
            </div>
            <abp-button type="submit" name="Action" value="Login" class="submit ant-btn ant-btn-primary ant-btn-lg ant-btn-block">@L["Login"]</abp-button>
            <div class="other">
                其他登录方式
                <span role="img" class=" anticon anticon-alipay-circle">
                    <svg focusable="false" width="1em" height="1em" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 1024 1024">
                        <path d="M308.6 545.7c-19.8 2-57.1 10.7-77.4 28.6-61 53-24.5 150 99 150 71.8 0 143.5-45.7 199.8-119-80.2-38.9-148.1-66.8-221.4-59.6zm460.5 67c100.1 33.4 154.7 43 166.7 44.8A445.9 445.9 0 0 0 960 512c0-247.4-200.6-448-448-448S64 264.6 64 512s200.6 448 448 448c155.9 0 293.2-79.7 373.5-200.5-75.6-29.8-213.6-85-286.8-120.1-69.9 85.7-160.1 137.8-253.7 137.8-158.4 0-212.1-138.1-137.2-229 16.3-19.8 44.2-38.7 87.3-49.4 67.5-16.5 175 10.3 275.7 43.4 18.1-33.3 33.4-69.9 44.7-108.9H305.1V402h160v-56.2H271.3v-31.3h193.8v-80.1s0-13.5 13.7-13.5H557v93.6h191.7v31.3H557.1V402h156.4c-15 61.1-37.7 117.4-66.2 166.8 47.5 17.1 90.1 33.3 121.8 43.9z">
                        </path>
                    </svg>
                </span>

                <span role="img" class=" anticon anticon-taobao-circle">
                    <svg focusable="false" width="1em" height="1em" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 1024 1024">
                        <path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zM315.7 291.5c27.3 0 49.5 22.1 49.5 49.4s-22.1 49.4-49.5 49.4a49.4 49.4 0 1 1 0-98.8zM366.9 578c-13.6 42.3-10.2 26.7-64.4 144.5l-78.5-49s87.7-79.8 105.6-116.2c19.2-38.4-21.1-58.9-21.1-58.9l-60.2-37.5 32.7-50.2c45.4 33.7 48.7 36.6 79.2 67.2 23.8 23.9 20.7 56.8 6.7 100.1zm427.2 55c-15.3 143.8-202.4 90.3-202.4 90.3l10.2-41.1 43.3 9.3c80 5 72.3-64.9 72.3-64.9V423c.6-77.3-72.6-85.4-204.2-38.3l30.6 8.3c-2.5 9-12.5 23.2-25.2 38.6h176v35.6h-99.1v44.5h98.7v35.7h-98.7V622c14.9-4.8 28.6-11.5 40.5-20.5l-8.7-32.5 46.5-14.4 38.8 94.9-57.3 23.9-10.2-37.8c-25.6 19.5-78.8 48-171.8 45.4-99.2 2.6-73.7-112-73.7-112l2.5-1.3H472c-.5 14.7-6.6 38.7 1.7 51.8 6.8 10.8 24.2 12.6 35.3 13.1 1.3.1 2.6.1 3.9.1v-85.3h-101v-35.7h101v-44.5H487c-22.7 24.1-43.5 44.1-43.5 44.1l-30.6-26.7c21.7-22.9 43.3-59.1 56.8-83.2-10.9 4.4-22 9.2-33.6 14.2-11.2 14.3-24.2 29-38.7 43.5.5.8-50-28.4-50-28.4 52.2-44.4 81.4-139.9 81.4-139.9l72.5 20.4s-5.9 14-18.4 35.6c290.3-82.3 307.4 50.5 307.4 50.5s19.1 91.8 3.8 235.7z">
                        </path>
                    </svg>
                </span>

                <span role="img" class=" anticon anticon-weibo-circle">
                    <svg focusable="false" width="1em" height="1em" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 1024 1024">
                        <path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm-44.4 672C353.1 736 236 680.4 236 588.9c0-47.8 30.2-103.1 82.3-155.3 69.5-69.6 150.6-101.4 181.1-70.8 13.5 13.5 14.8 36.8 6.1 64.6-4.5 14 13.1 6.3 13.1 6.3 56.2-23.6 105.2-25 123.1.7 9.6 13.7 8.6 32.8-.2 55.1-4.1 10.2 1.3 11.8 9 14.1 31.7 9.8 66.9 33.6 66.9 75.5.2 69.5-99.7 156.9-249.8 156.9zm207.3-290.8a34.9 34.9 0 0 0-7.2-34.1 34.68 34.68 0 0 0-33.1-10.7 18.24 18.24 0 0 1-7.6-35.7c24.1-5.1 50.1 2.3 67.7 21.9 17.7 19.6 22.4 46.3 14.9 69.8a18.13 18.13 0 0 1-22.9 11.7 18.18 18.18 0 0 1-11.8-22.9zm106 34.3s0 .1 0 0a21.1 21.1 0 0 1-26.6 13.7 21.19 21.19 0 0 1-13.6-26.7c11-34.2 4-73.2-21.7-101.8a104.04 104.04 0 0 0-98.9-32.1 21.14 21.14 0 0 1-25.1-16.3 21.07 21.07 0 0 1 16.2-25.1c49.4-10.5 102.8 4.8 139.1 45.1 36.3 40.2 46.1 95.1 30.6 143.2zm-334.5 6.1c-91.4 9-160.7 65.1-154.7 125.2 5.9 60.1 84.8 101.5 176.2 92.5 91.4-9.1 160.7-65.1 154.7-125.3-5.9-60.1-84.8-101.5-176.2-92.4zm80.2 141.7c-18.7 42.3-72.3 64.8-117.8 50.1-43.9-14.2-62.5-57.7-43.3-96.8 18.9-38.4 68-60.1 111.5-48.8 45 11.7 68 54.2 49.6 95.5zm-93-32.2c-14.2-5.9-32.4.2-41.2 13.9-8.8 13.8-4.7 30.2 9.3 36.6 14.3 6.5 33.2.3 42-13.8 8.8-14.3 4.2-30.6-10.1-36.7zm34.9-14.5c-5.4-2.2-12.2.5-15.4 5.8-3.1 5.4-1.4 11.5 4.1 13.8 5.5 2.3 12.6-.3 15.8-5.8 3-5.6 1-11.8-4.5-13.8z">
                        </path>
                    </svg>
                </span>
                <a class="register" href="/user/register">注册账户</a>
            </div>
        </form>
    </div>
}
@if (Model.VisibleExternalProviders.Any())
{
    <div class="col-md-6">
        <h4>@L["UseAnotherServiceToLogIn"]</h4>
        <form asp-page="./Login" asp-page-handler="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" asp-route-returnUrlHash="@Model.ReturnUrlHash" method="post">
            <input asp-for="ReturnUrl" />
            <input asp-for="ReturnUrlHash" />
            @foreach (var provider in Model.VisibleExternalProviders)
            {
                <button type="submit" class="btn btn-primary" name="provider" value="@provider.AuthenticationScheme" title="@L["GivenTenantIsNotAvailable", provider.DisplayName]">@provider.DisplayName</button>
            }
        </form>
    </div>
}

@if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
{
    <div class="alert alert-warning">
        <strong>@L["InvalidLoginRequest"]</strong>
        @L["ThereAreNoLoginSchemesConfiguredForThisClient"]
    </div>
}
</div>